<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
    <title>BSL Menu</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-400">
    <div class="bg-blue-200 p-4">

        <nav class="flex items-center gap-2">
            <div class="border rounded text-4xl font-extrabold p-4 inline-block">
                <a href="{{ url_for('index')}}">BSL Menu</a>
            </div>
            <div class="border rounded hover:bg-blue-600 px-4 py-2 my-2">
                <a href="{{ url_for('get_restaurants') }}?skip=0&limit=10">
                    View Restaurants
                </a>
            </div>
            <div class="border rounded hover:bg-green-600 px-4 py-2 my-2">
                <a href="{{ url_for('register_restaurant_page') }}">
                    Register
                </a>
            </div>
        </nav>
        <p>Accessible menu for BSL users</p>
    </div>
    <div id="main-content" class="m-2 p-2">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>