<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
    <title>BSL Menu</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
</head>
<body class="bg-blue-400 max-w-screen-l bsl-font-1">
    <div class="bg-blue-200 px-4 pyt-4">
        <nav class="flex items-center gap-2">
            <a href="{{ url_for('index')}}">
                <div class="text-xl font-extrabold p-4 bsl-font-1">
                    bsl menu
                </div>
            </a>
            <div>
                <p class="bsl-font-2">Accessible menu for BSL users</p>
            </div>
        </nav>
        {% include 'navbar.html' %}

    </div>
    <div id="main-content" class="m-2 p-2">

        {% block content %}
        {% endblock %}
    </div>
    <footer class="bg-blue-200 rounded shadow m-4">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
            <span>
                Gifs by <a class="underline" href="https://giphy.com/signwithrobert">Robert DeMayo</a>
            </span>
        </div>
    </footer>
</body>
</html>