{% extends "base.html" %}
{% block content %}
<div class="inline-block bg-blue-700 hover:bg-blue-600 text-gray-200 hover:text-slate-800 px-4 py-2 my-2 rounded">
    <a
        href="{{ url_for('get_restaurants') }}?skip=0&limit=10"
    >Restaurants</a>
</div>
<button
    class="bg-green-700 hover:bg-green-600 text-gray-200 hover:text-slate-800 px-4 py-2 my-2 rounded"
    hx-get="{{ url_for ('register_restaurant_page') }}"
    hx-target="#main-content"
>Register your Restaurant!
</button>
<div class="my-2" id="main-content"></div>
{% endblock %}}