<div class="bg-slate-700 rounded my-2 max-w-max">
    <div class="p-2">
        <p class="font-bold text-gray-200">{{ restaurant.name }}</p>
        <p class="font-bold text-gray-100">{{ restaurant.city }}</p>
    </div>
    <div>
        <a href="{{ url_for('get_restaurant', _id=restaurant.id)}}">
        <img
            src="{{ url_for('static', path='img/' + restaurant.visual.reference_link | default('not-found.gif'))}}"
            width="300"
            alt="{{ restaurant.visual.description }}"
            class="rounded"/>
        </a>
    </div>
</div>