{% extends "base.html" %}
{% block content %}
{% include 'restaurant_tile.html' %}
<div>
    <div class="border rounded my-2 p-2">
        <p>Established {{ restaurant.date_opened }}</p>
        <p>{{ restaurant.description }}</p>
    </div>

    {% if not restaurant.menu_items %}
    No menu items to show
    {% endif %}
    <a href="{{ url_for('add_menu_item_to_restaurant_form', restaurant_id=restaurant.id, restaurant_name=restaurant.name)}}">
        <div class="border rounded text-2xl font-extrabold p-4 hover:bg-green-500">
            Add menu item
        </div>
    </a>
    <div id="add-menu-item-form"></div>
    {% for category in categories %}
        <div class="border rounded bg-blue-500 my-2">
            <h1 class="text-l font-bold m-4">{{ category }}</h1>
            {% for menu_item in restaurant.menu_items %}
                {% if menu_item.category == category %}
                    <ul>
                        {% include 'menu_item_tile.html' %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
